@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
	font-family: 'Bebas Neue', cursive;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    background: #000;
    overflow-y: auto;
	-webkit-user-select: none;
    user-select: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.social-container,
.logo-container,
.links-container,
.main-preview,
.main-text {
	opacity: 0;
	animation: showcontent .5s forwards;
	animation-delay: 2s;
	transform: translate(0,20px);
	transition: all .3s ease;
}

@keyframes showcontent {
	from {
		opacity: 0;
		transform: translate(0,20px);
	}
	to {
		opacity: 1;
		transform: translate(0,0);
	}
}

.preloader {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 9999;
	overflow: hidden;
	animation: hideloader .2s forwards;
	animation-delay: 2.3s;
}

@keyframes hideloader {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

.preloader-logo {
	position: relative;
	display: block;
	float: left;
	opacity: 0;
	width: auto;
	height: 160px;
	transition: all .3s ease;
	animation: showimg .5s forwards;
	animation-delay: .5s;
}

@keyframes showimg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.preloader-logo img {
	width: auto;
	height: 100%;
	animation: hideimg .5s forwards;
	animation-delay: 1.5s;
}

@keyframes hideimg {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.preloader-mask {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 50%;
	background: #fff;
	animation: hidemask .3s forwards;
	animation-delay: 2s;
}

@keyframes hidemask {
	from {
		height: 50%;
	}
	to {
		height: 0;
	}
}

.preloader-mask:nth-child(1) {
	top: 0;
}

.preloader-mask:nth-child(2) {
	bottom: 0;
}

nav {
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: 100px;
    padding: 0 10%;
    margin: 0;
    z-index: 999;
}

.logo-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: calc(100% / 3);
	padding: 0;
	margin: 0;
}

.logo-container img {
	width: auto;
	height: 70px;
}

.menu-mobile {
	display: none;
}

.close-icon {
	display: none;
}

.social-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: calc(100% / 3);
    padding: 0;
    margin: 0;
}

.social {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	padding: 0;
	margin: 0 20px 0 0;
}

.social ion-icon {
	font-size: 22px;
}

.social:last-child {
	margin: 0;
}

.links-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
    width: calc(100% / 3);
    padding: 0;
    margin: 0;
}

.link {
	display: block;
	float: left;
	padding: 0;
	margin: 0 0 0 20px;
	font-size: 18px;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

.link:first-child {
	margin: 0;
}

.menu {
	display: none;
}

footer {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.footer-container {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 10% 0;
	margin: 0;
}

.footer-logo {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 6% 0;
}

.footer-logo img {
	width: auto;
	height: 70px;
}

.footer-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 6% 0;
}

.footer-box:last-child {
	margin: 0;
}

.footer-link {
	font-family: 'Roboto', sans-serif;
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding: 0;
	margin: 0 25px;
	font-size: 14px;
	font-weight: 400;
    color: hsla(0,0%,100%,.5);
    cursor: pointer;
    transition: all .3s ease;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
	color: #fff;
}

.footer-link:hover .footer-selector{
	width: 100%;
	left: 0;
}

.footer-selector {
	position: absolute;
	display: block;
	bottom: 0;
	left: 50%;
	width: 0px;
	height: 10%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #fff;
	transform: translate(0,15px);
	transition: all .3s ease;
}

.social-link {
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 20px;
	cursor: pointer;
}

.social-link svg {
	fill: #fff;
	width: 22px;
	height: 22px;
}

.copyright {
	font-family: 'Roboto', sans-serif;
	position: relative;
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	background: #0d0d0d;
}

header {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main-content {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.main-car {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.main-image {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	filter: grayscale(100%);
	background-attachment: scroll !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.main-description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    margin: 0;
    background: rgba(0,0,0,0.8);
}

.main-helper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
}

.main-preview {
	position: relative;
	display: block;
	float: left;
	width: 55%;
	height: 50%;
	padding: 0;
	margin: 0 5% 0 0;
	background-attachment: scroll !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.main-text {
	position: relative;
	display: block;
	float: left;
	width: 40%;
	height: auto;
	padding: 0;
	margin: 0;
}	

.main-name {
	display: block;
    float: left;
    width: 100%;
    padding: 20px;
    font-size: 48px;
    background: #0d0d0d;
}

.main-price {
	display: block;
    float: left;
    width: auto;
    color: #000;
    padding: 20px;
    font-size: 38px;
    background: #fff;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    background: content-box;
}

.slick-dots li button:before {
    font-size: 8px !important;
    opacity: .25;
    color: #fff !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #fff !important;
}

main {
	display: block;
	float: left;
	width: 100%;
	height: auto;
}

.container {
	display: block;
	float: left;
	width: 100%;
	height: auto;
}

.car-info {
	position: relative;
	display: block;
	float: left;
	width: calc(100% / 3);
	height: 300px;
	padding: 40px;
	margin: 0;
	background-attachment: scroll !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.car-info:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;
	z-index: 333;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0));
}

.car-info:before {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;
	z-index: 333;
	background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.6));
}

.car-name {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	z-index: 666;
	font-size: 24px;
}

.car-price {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	z-index: 666;
	font-size: 18px;
}

.car-actions {
    position: absolute;
    display: block;
    bottom: 40px;
    right: 40px;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 666;
}

.car-button {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 40px;
	height: 40px;
	padding: 0;
	cursor: pointer;
	border: 1px solid #fff;
}

.car-button svg {
	width: 20px;
	height: 20px;
}

.car-button:first-child {
	background: transparent;
}

.car-button:first-child svg {
	fill: #fff;
}

.car-button:last-child {
	margin: 0 0 0 15px;
	background: #fff;
}

.car-1 {
	background: url('img/car-1.jpg');
}

.car-2 {
	background: url('img/car-2.jpg');
}

.car-3 {
	background: url('img/car-3.jpg');
}

.car-4 {
	background: url('img/car-4.jpg');
}

.car-5 {
	background: url('img/car-5.jpg');
}

.car-6 {
	background: url('img/car-6.jpg');
}

.car-7 {
	background: url('img/car-7.jpg');
}

.car-8 {
	background: url('img/car-8.jpg');
}

.car-9 {
	background: url('img/car-9.jpg');
}

.new-info {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.new-info-mobile {
	display: none;
}

.new-car {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 300px;
	padding: 0;
	margin: 50px 0 0 0;
	background-attachment: scroll !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.new-price {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    color: #000;
    font-size: 24px;
    background: #fff;
    transform: translate(0, -50%);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
}

.search-title {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: calc(100% / 3);
    height: 100%;
    font-size: 48px;
    background: #0d0d0d;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: calc((100% / 3) * 2);
    height: 100%;
}

.search-input input {
    font-family: 'Bebas Neue', cursive;
    position: relative;
    display: block;
    float: left;
    width: 80%;
    height: auto;
    padding: 20px 0;
    margin: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    font-size: 48px;
    background: #0d0d0d;
    text-align: center;
    border: 0;
    border-radius: 0;
}

.search-input input:focus {
	border: 0;
	outline: 0;
	box-shadow: none;
}

.search-input input::placeholder {
	color: #fff;
}


.about-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 -50px 0;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: calc(100% / 3);
    height: 300px;
    font-size: 48px;
    background: #0d0d0d;
}

.about-description {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: calc((100% / 3) * 2);
	height: 300px;
	padding: 0 8%;
	margin: 0;
}

.about-description p {
    font-family: 'Roboto', sans-serif;
	display: block;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.mapouter {
	position: relative;
	display: block;
	float: left;
	text-align: right;
	width: calc((100% / 3) * 2);
	height: 300px;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 100%;
	height: 300px;
}

.gmap_canvas iframe {
	width: 100%;
	height: 300px;
}

.location-title {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: calc(100% / 3);
    height: 300px;
    font-size: 48px;
    background: #0d0d0d;
}